@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --font-prim: "Khula", sans-serif;
      --font-sec: "Overpass", sans-serif;
      --font-tert: "Alegreya", sans-serif;

      --background: 249 51% 4%;
      --foreground: 249 31% 100%;
      --muted: 249 29% 12%;
      --muted-foreground: 249 2% 61%;
      --popover: 249 51% 4%;
      --popover-foreground: 249 31% 100%;
      --card: 249 51% 4%;
      --card-foreground: 249 31% 100%;
      --border: 249 6% 12%;
      --input: 249 6% 12%;
      --primary: 249 63% 27%;
      --primary-foreground: 249 63% 87%;
      --secondary: 38.73 100% 62.94%;
      --secondary-foreground: 249 53.64% 4.67%;
      --accent: 249 6% 13%;
      --accent-foreground: 249 6% 73%;
      --destructive: 8 88% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 249 63% 27%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    h1, h2, h3, h4 {
      font-family: var(--font-sec);
    }
  }

